* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.container {
    width: calc(768px-1rem);
    background-color: #0f2229;
    color: #fff;
    padding: 16px;
    border-radius: 10px;
}

.container h2 {
    font-weight: 400;
    /* font-size: 1rem; */
    text-align: center;
}

.container .form {
    position: relative;
    width: 100%;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.container .form input {
    width: 100%;
    background-color: #1f3841;
    border: none;
    outline: none;
    padding: 15px 14px 15px 12px;
    border-radius: 10px;
    color: #fff;
}

.container .form button {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    color: whitesmoke;
    border: none;
    outline: none;
    background-color: #0f2229;
    right: 1.5px;
    top: 1px;
    cursor: pointer;
}

.container .nameBox {
    position: relative;
    background-color: #1f3841;
    border-radius: 10px;
    padding: 12px;
}

.container .nameBox span {
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: .3px;
}