* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #367;
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

video {
    object-fit: cover;
    min-width: 620px;
    max-height: 650px;
    position: relative;
}

h1 {
    display: inline-block;
    position: absolute;
    margin: 50px 0px 0px 150px;
    font-size: 60px;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.switch-btn {
    position: absolute;
    bottom: 300px;
    left: 800px;
    width: 15rem;
    height: 5rem;
    display: flex;
    border: 2px solid black;
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s linear;
}

.switch-btn span {
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    text-transform: capitalize;
    color: #49a6e9;
}

.switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: #49a6e9;
    border-radius: 0.5rem;
    margin: 0;
    display: block;
    transition: all 0.3s linear;
}

.slide .switch {
    left: 50%;
}